%header.subhead#overview
  %h2=t('ui.content.edit_filter')
  .subnav
    %ul.nav.nav-pills
      %li= link_to t('ui.actions.show'), [@label]
      %li= link_to t('ui.actions.view_all'), labels_path

= render 'form'
