%header.subhead#overview
%span.tab
  %span.tab
    = link_to t('ui.actions.click_to_login'), "http://archivesupport.kbb1.com/home/kbmedia?redirect_url=#{APP_CONFIG['library_url']}", :id => "sign_in_link"
