.well
  %ul.nav.nav-list
    %li.nav-header Filters
    %li= link_to 'Inbox', inbox_files_path
    - @filters_for_menu.each do |filter|
      %li= link_to filter.name, inbox_files_path(:filter => filter)
    %li.divider
    %li.nav-header Labels
    - @labels_for_menu.each do |label|
      %li= link_to label.name, inbox_files_path(:label => label)
