%header.subhead#overview
  %h2
    =t('ui.content.edit_filter')

  .subnav
    %ul.nav.nav-pills
      %li= link_to t('ui.actions.show'), [@filter]
      %li= link_to t('ui.actions.view_all'), filters_path

= render 'form'
