%header.subhead#overview
  %h2='Library info'


  .panel.panel-default
    .panel-heading
      %h3.panel-title
        ='Total number of library users'
        - @report.total_users
    .panel-body
      Panel content
